{% extends "layout.html" %}

{% block heading %}
<div class="main_heading">
  KEANU
</div>

{% endblock %}

{% block body %}

      <h2>Welcome! Find your next pair of shoes!</h2>
       <div>
           <form action="/upload" enctype="multipart/form-data" method="post">
               <label class='img_instruct'>Upload a file to get started.</label><br />
               
               <br />
               <br />
               <div id="upload_container">
                 <input name="file" type="file" class="upload_btn"/>
                 <div class="overlay-layer">Upload photo</div>
               </div>
               <br/>
               <br/>
               <button class='button' type="submit">Submit</button>
           </form>
       </div>


  <a href="{{ url_for('recommends') }}"></a>
{% endblock %}
